useDynLib(psF1pair, .registration=TRUE)
importFrom(Rcpp, evalCpp)

export(F1.cond.two.b.rho)
export(ciFbTwo.rho)
export(data_Generation)
export(powerFbTwo.rho)
export(testFbTwo.rho)
importFrom(graphics,abline)
importFrom(stats,dbinom)
importFrom(stats,fft)
importFrom(stats,median)
importFrom(stats,pnorm)
importFrom(stats,qnorm)
importFrom(stats,qt)
importFrom(stats,quantile)
importFrom(stats,rgamma)
importFrom(stats,uniroot)
importFrom(utils,tail)
